In [8]:
for sujoy in range(10):
          print('bhattacharya')

bhattacharya
bhattacharya
bhattacharya
bhattacharya
bhattacharya
bhattacharya
bhattacharya
bhattacharya
bhattacharya
bhattacharya

In [8]:
for jaipur in range(1,5):
           print('rajasthan')

rajasthan
rajasthan
rajasthan
rajasthan

In [11]:
for jaipur in range(1,5):
           print('k')

k
k
k
k

# 2 for loops works

In [14]:
for sol in range(1,10):
        for toll in range(1,5):
                 print('cooler')

cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler
cooler

In [17]:
for sol in range(1,5):
        for toll in range(1,10):
                 print(sol , toll)

1 1
1 2
1 3
1 4
1 5
1 6
1 7
1 8
1 9
2 1
2 2
2 3
2 4
2 5
2 6
2 7
2 8
2 9
3 1
3 2
3 3
3 4
3 5
3 6
3 7
3 8
3 9
4 1
4 2
4 3
4 4
4 5
4 6
4 7
4 8
4 9

In [21]:
city='jaipur'
for i in city:
    print(i)

j
a
i
p
u
r

In [28]:
city='jaipur'
for i in city:
    for rajasthan in 'state':
        print(i,rajasthan)

j s
j t
j a
j t
j e
a s
a t
a a
a t
a e
i s
i t
i a
i t
i e
p s
p t
p a
p t
p e
u s
u t
u a
u t
u e
r s
r t
r a
r t
r e

In [61]:
city=['jaipur', 20.5 , 30]
print(len(city))
for i in range(len(city)): 
    print(i)

3
0
1
2

In [60]:
jaipur= {'jal mahal': 20 , 'amer': 10 , 'fort': 50}
for i , a in jaipur.items():
    print(jaipur[i])

20
10
50

In [63]:
x="gargee"
for i,j in enumerate(x):
    print(i,j)

0 g
1 a
2 r
3 g
4 e
5 e

In [65]:
ab={'job':30 , 'employment':335 , 'seeker':85}
for i,j in ab.items():
    print(ab[i])

30
335
85

In [76]:
#condation statement
a=24
if a%2==0:
    print("it is a even number")
else:
     print('the number is odd')

it is a even number

In [77]:
#condation statement
a=23
if a%2==0:
    print("it is a even number")
else:
     print('the number is odd')

the number is odd

In [81]:
jaipur=30
jodhpur=43
ajmer=44
barmer=48

if jaipur>45:
    print('not very hot')
elif jodhpur>44:
    print('hot')
elif ajmer>45:
        print("hot weather")
elif barmer>45:
        print('very hot')
else:
    print('no record')

very hot

In [82]:
jaipur=30
jodhpur=43
ajmer=44
barmer=42

if jaipur>45:
    print('not very hot')
elif jodhpur>44:
    print('hot')
elif ajmer>45:
        print("hot weather")
elif barmer>45:
        print('very hot')
else:
    print('no record')

no record

In [96]:
for i in range(1,100):
    if i %2 == 0:
        print(i , 'even')

2 even
4 even
6 even
8 even
10 even
12 even
14 even
16 even
18 even
20 even
22 even
24 even
26 even
28 even
30 even
32 even
34 even
36 even
38 even
40 even
42 even
44 even
46 even
48 even
50 even
52 even
54 even
56 even
58 even
60 even
62 even
64 even
66 even
68 even
70 even
72 even
74 even
76 even
78 even
80 even
82 even
84 even
86 even
88 even
90 even
92 even
94 even
96 even
98 even

In [8]:
#remove vowels

name='sujoy bhattacharya'
my=''
for i in name:
    if i not in 'aeiouAEIOU':
       my=my+i    
print(my)

sjy bhttchry

In [9]:
#remove vowels
w='shashank sheikher bhattacharya'
z=''
for q in w:
    if q not in 'aeiouAEIOU':
        z=z+q
print(z)

shshnk shkhr bhttchry

In [10]:
n='ravi kumar sharma'
m=''
for l in n:
    if l not in 'AEIOUaeiou':
        m=m+l
print(m)

rv kmr shrm

In [15]:
#break
for i in range(1 , 50):
    print(i)
    if i==8:
       break
print('stop')

1
2
3
4
5
6
7
8
stop

In [33]:
#break in while loop
a = 5
while a > 0:
    print(a)
    if a==20:
        break
    a=a+1
print('stop')

5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
stop

In [41]:
#palnindrom 
number=121
temp=number
count=0
while number>0:
    r=number %10
    count=(count*10)+r
    number=number//10
    
if temp==count:
    print(count, 'it is a palnindrom number')
else:
    print(count, 'it is not a palnindrom number')

121 it is a palnindrom number

In [45]:
#palindrom in string
a ='sos'
if a==a[::-1]:
    print('this is palnindrom number')
else:
    print('not a palnindrom number')

this is palnindrom number

In [58]:
#perfect number 
a =12
c=0
for i in range(1 , a):
    if a % i == 0:
        c=c+i
if c==a:
    print(a , 'perfect number')
else:
    print(a,  'not perfect number')

12 not perfect number