# Practise Data_types

In [3]:
#integer

sujoyage=36  #sujoyage is variable 
print(sujoyage)
print(type(sujoyage)) #Data type

36
<class 'int'>

In [2]:
rishaanhight=4.5  #data type float 4.5
print(rishaanhight)
type(rishaanhight)

4.5

float

In [5]:
#data type string (str)
my_name='sujoy bhattacharya' 
print(my_name)
type(my_name)

sujoy bhattacharya

str

In [12]:
tv,computer,mobile= 'rs25000','rs36000','rs2000'
print(tv)
print(computer)
print(mobile)
print(tv,computer,mobile)

rs25000
rs36000
rs2000
rs25000 rs36000 rs2000

In [13]:
mobile_bill=1200
petrol=5000
house_rent=18000
grocery=10000
other_expenses=5000
print(mobile_bill+petrol+house_rent+grocery+other_expenses)

39200

In [15]:
print(mobile_bill)
print(petrol)
print(house_rent)
print(grocery)
print(other_expenses)

1200
5000
18000
10000
5000

In [16]:
print(mobile_bill, petrol, house_rent, grocery, other_expenses)

1200 5000 18000 10000 5000

In [18]:
Print('name')

NameError: name 'Print' is not defined

In [19]:
I='i am working in python coding'
print(I)

i am working in python coding

In [25]:
#data Type conversion 
#Int to float
bike=63000
type(bike)
honda=float(bike)
print(honda)
print(bike)
type(honda)

63000.0
63000

float

In [28]:
#float to Int

ac=26520.35
type(ac)
a_c=int(ac)
print(a_c)
type(a_c)

26520

int

In [29]:
#int to string
data=25
database=str(data)

In [31]:
print(database)
type(database)

25

str

In [34]:
#str to itr & Float (only numerical can be changed)
rishaan_age='6'
type(rishaan_age)

age_rishaan=int(rishaan_age)
print(age_rishaan)
type(age_rishaan)

6

int

In [37]:
#string to float
age_rishaan=float(rishaan_age)
print(age_rishaan)
type(age_rishaan)

6.0

float

In [41]:
#float to str

ab=str(age_rishaan)
print(ab)
type(ab)

6.0

str

In [8]:
name="sujoy bhattacgarya"
liv='jaipur'
work='reliant fox solutions'
age=36
# o/p my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36
print('my name is',name, 'i am living in',liv, '& working in',work,'my age is',age,)

my name is sujoy bhattacgarya i am living in jaipur & working in reliant fox solutions my age is 36

# Print Statement

In [1]:
name="sujoy bhattacgarya"
liv='jaipur'
work='reliant fox solutions'
age=36
# o/p my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36
print('my name is',name, 'i am living in',liv, '& working in',work,'my age is',age,)

my name is sujoy bhattacgarya i am living in jaipur & working in reliant fox solutions my age is 36

In [2]:
salary = 100.2
spend = 20
course = 'Udemy'

# output : I got 100.2 rs salary and learning a course in udemy which charges 20 rs per day

print('I got '+str(salary)+' '+'rs'+' '+'salary'+' '+'and learning a course in '+course+' '+'which charge '+str(spend)+' '+'rs per day')

I got 100.2 rs salary and learning a course in Udemy which charge 20 rs per day

In [17]:
namee="sujoy bhattacharya"
livee='jaipur'
work='reliant fox solutions'
age=36
# o/p my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36
print('my name is '+namee+' i am living in '+livee+' & working in '+work+' '+'my age is'+' '+str(age))

my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36

In [33]:
name='sujoy bhattacharya'
live='jaipur'
work='reliant fox solutions'
age=36
# o/p my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36
print('my name is %s i am living in %s & working in %s my age is %d' %(name,live,work,age))

my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36

In [34]:
#using f''--> formating Techniques
name='sujoy bhattacharya'
live='jaipur'
work='reliant fox solutions'
age=36
# o/p my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36
print(f'my name is {name} i am living in {live} & working in {work} my age is {age}')

my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36

In [39]:
#.format
#using f''--> formating Techniques
name='sujoy bhattacharya'
live='jaipur'
work='reliant fox solutions'
age=36
# o/p my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36
print('my name is {} i am living in {} & working in {} my age is {}'.format(name,live,work,age))

my name is sujoy bhattacharya i am living in jaipur & working in reliant fox solutions my age is 36

In [45]:
# % funcation 
a=500
b=25
print(a%b)

0

In [57]:
#power function
pow(2,3,2)

0

In [59]:
a=500
b=25
(a==b)
(a>25)

True

In [62]:
a=25
b=25
(a<=b)

True