In [24]:
#map 
   
for i in  range(1 , 21):
    if i %2==0:
        print('even' , i)
    if i %3==0:
        print('odd' , i)

even 2
odd 3
even 4
even 6
odd 6
even 8
odd 9
even 10
even 12
odd 12
even 14
odd 15
even 16
even 18
odd 18
even 20

In [28]:
def kamal(): # def is keyword for function and kamal is an function name 
    print("Python")
    
    
    
kamal()

Python

In [31]:
def rahul():
    print("sujoy bhattacharya")
    
    
rahul()

sujoy bhattacharya

In [1]:
def rev():
    print('river')
rev()

river

In [4]:
a=10
b=65
def test(a , b):
    return a + b

In [5]:
q=test(a , b)
print(q)

75

In [6]:
test(23 , 77)

100

In [7]:
test(25 , 25)

50

def even_and_odd(starting , ending):
    for i in range(starting , ending):
        if i % 2 == 0:
            print(i , 'even')
        else:
            print(i , 'odd')

In [49]:

def even_odd(starting , ending):
     for i in range(starting, ending):
            if i %2==0:
                print(i , 'even')
            else:
                print(i , 'odd')

In [50]:
even_odd(50 ,71)

50 even
51 odd
52 even
53 odd
54 even
55 odd
56 even
57 odd
58 even
59 odd
60 even
61 odd
62 even
63 odd
64 even
65 odd
66 even
67 odd
68 even
69 odd
70 even

In [66]:
def palindrome(number):
    
    temp = number
    count = 0
    while number > 0:
        res = number % 10 
        count = (count * 10) + res
        number = number // 10
        
        
    if temp == count:
        print(count , 'It is a palindrome number')
    else:
        print(count , 'Not a palindrome number')

In [68]:
palindrome(121)

121 It is a palindrome number

In [8]:
ramesh_age=30
suresh_age=38
rajesh_age=45
def age(ramesh_age , suresh_age , rajesh_age):
    return(ramesh_age + suresh_age + rajesh_age)

In [11]:
z=age(ramesh_age , suresh_age , rajesh_age)
z=age(ramesh_age , suresh_age , rajesh_age)
print(z)

113

In [89]:
def im(a , b):
    num1 = a + b
    numb2 = b -a 
    return num1 , numb2


im (25 , 52)

(77, 27)

In [91]:
one , two = im(25 , 52)
print(one + two)

104

In [110]:
def study(x):
    n=0
    o=0
    for i in x:
        if i %2 ==0:            
            n=n+i
        
    for i in x:
        if i %3 ==0:
            o=o+i
    return n , o

        
l , z =study(x)        

print(l)
print(z)
    
print(l+z)

204
222
426

In [109]:
x= [25 , 85 , 65 , 75 , 65 , 58 , 84 , 62 , 63]

In [112]:
input = 'sai kamal'
for i in input:

TypeError: 'int' object is not callable

#find number of carector in my name 

def exercise(a):
    empty_dict = {}
    for i in a:
        if i in empty_dict.keys():
            empty_dict[i] = empty_dict[i] + 1
        else:
            empty_dict[i] = 1
            
    return empty_dict

In [130]:
def check(r):
    emty = {}
    for i in r:
        if i in emty.keys():
            emty[i]=emty[i] + 1
        else: 
            emty[i]=1
    return emty

In [131]:
r='rishaan bhattacharya'
am = check(r)
print(am)

{'r': 2, 'i': 1, 's': 1, 'h': 3, 'a': 6, 'n': 1, ' ': 1, 'b': 1, 't': 2, 'c': 1, 'y': 1}

In [142]:
def lol(a):
    em={}
    for i in a:
        if i in em.keys():
            em[i]=em[i]+1
        else: 
            em[i]=1
    return em

In [143]:
a="sujoy bhattacharya"
ats=lol(a)
print(ats)

{'s': 1, 'u': 1, 'j': 1, 'o': 1, 'y': 2, ' ': 1, 'b': 1, 'h': 2, 'a': 4, 't': 2, 'c': 1, 'r': 1}

In [26]:
def sos(b):
    emt={}
    for i in b:
        if i in emt.keys():
            emt[i]=emt[i]+1
        else:
            emt[i]=1
    return emt

In [27]:
b='gargee bhattacharya'
am=sos(b)
print(am)

{'g': 2, 'a': 5, 'r': 2, 'e': 2, ' ': 1, 'b': 1, 'h': 2, 't': 2, 'c': 1, 'y': 1}

In [36]:
def result(y):
    print('congratulations')
    print('you are passed' , y)

In [39]:
result('65 out of 100')

congratulations
you are passed 65 out of 100

In [45]:
def sol(y):
    if y==0 or y==1:
        return 1
    else:
        print(y*sol(y-1))

In [43]:
sol(4)

24